{% extends 'layout.html' %}
{% block contenido %}
    <h3>Ing. Agustín Escobar y Alex Perez</h3>
    <p>Nos encontramos en un proceso de aprendizaje y actualización de información que consideramos oportuna y necesaria para nuestro crecimiento profesional y
        eventualmente, mejoramiento de aptitudes en el ámbito tecnológico. Es nuestra primer experiencia en el mundo de la programacion y luego de largos meses consideramos que la practica fue muy positiva.
    <br>
    <br>
        Por tal motivo es la realización de este proyecto final del Curso de Python en CoderHouse.
    </p>
    <br>
    <a href="https://github.com/aescobar1995">Github/aescobar1995</a>
    <a href="https://github.com/puntoybasta">Github/puntoybasta</a>
{% endblock contenido %}

